In [1]:
from krakipy import KrakenAPI

In [2]:
key = "********************************************************"
secret_key = "****************************************************************************************"
kr = KrakenAPI(key, secret_key)

In [7]:
# Get the current account balance

data = kr.get_account_balance()
data.head()

               vol
ZEUR  2.769522e+03
XXBT  1.465766e-01
XXRP  3.000000e-08
XXLM  5.302990e+03
XETH  5.129388e+00

In [6]:
# Get the Bitcoin/EUR prices in 1 minute intervalls

data, count = kr.get_ohlc_data("XXBTZEUR", 1)
data.head()

         time    open    high     low   close    vwap    volume  count
0  1602836760  9677.1  9678.6  9677.0  9678.5  9677.9  6.772937   15.0
1  1602836820  9678.6  9678.6  9678.5  9678.6  9678.5  0.262713   11.0
2  1602836880  9678.5  9684.0  9678.5  9684.0  9681.0  0.788785   18.0
3  1602836940  9683.9  9684.0  9683.9  9684.0  9683.9  0.461384   12.0
4  1602837000  9684.0  9684.0  9683.9  9684.0  9683.9  0.522029   11.0

In [16]:
# Withdraw 1 Bitcion to your wallet named "Own Wallet".

kr.withdraw_funds("XXBT", 1, "Own Wallet")

# Returns the transaction ID of the withdrawl

TF7WA2-23N7C-LMXA2P